{% extends "weather/layout.html" %}

{% block title %}
    Current Weather
{% endblock %}


{% block header%}
    What's the current weather?
{% endblock %}

{% block form %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            {%  csrf_token %}
                            {{ form.name }}
                        </div>
                        <div class="control">
                            <button type = "submit" class="button is-info">
                                Add City
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block weather %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
              {% for city_weather in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ city_weather.icon}}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ city_weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ city_weather.temperature}}</span>
                                    <br> {{ city_weather.description}}
                                </p>
                                <p>
                                  <a href="{% url 'deletecity' city_weather.id %}">Delete City</a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
